.cell {
  width: 1rem;
  height: 1rem;
  border: 1px solid #ddd; }
  .cell:hover:not(.cell_alive):not(.cell_alive) {
    background: #ddd; }
  .cell_alive {
    background-color: #ff5400; }
  .cell_new-born {
    background-color: #ffbf00; }
.button {
  display: inline-block;
  margin-right: 0.4em;
  padding: 0.3em 0.7em;
  cursor: pointer;
  color: #fff;
  background-color: #db4500;
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.5em; }
  .button:hover {
    background-color: #ff5b0f; }
.board {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .board__grid {
    margin: auto; }
  .board__counter {
    padding: 0.5rem 0;
    text-align: left; }
  .board__controls {
    display: -ms-flexbox;
    display: flex;
    margin: 2rem 0;
    -ms-flex-align: center;
        align-items: center; }
.game-page {
  text-align: center; }
  .game-page__title {
    margin: 0;
    margin-bottom: 1.5rem; }
  .game-page__board {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center; }
  .game-page__test-link {
    padding: 1rem 2rem;
    cursor: pointer;
    background-color: #ddd; }
.test-page {
  background-color: aquamarine; }
.application {
  height: 100%;
  padding-top: 1.5rem; }
