.cell {
  width: 1rem;
  height: 1rem;
  border: 1px solid #ddd;

  &:hover:not(&_alive):not(&_alive) {
    background: #ddd;
  }

  &_alive {
    background-color: #ff5400;
  }

  &_new-born {
    background-color: #ffbf00;
  }
}
