.board {
  user-select: none;

  &__grid {
    margin: auto;
    border-collapse: collapse;
  }

  &__counter {
    padding: 0.5rem 0;
    text-align: left;
  }

  &__controls {
    display: flex;
    margin: 2rem 0;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__label {
    text-align: left;
  }

  &__field {
    max-width: 4rem;
  }
}
